@inherits LayoutComponentBase

<Layout SideWidth="0" IsPage="true" IsFullSide="true" IsFixedHeader="true"
        ShowFooter="true" ShowGotoTop="true" ShowCollapseBar="true" Menus="@MenuItems"
        OnAuthorizing="@OnAuthorizing" OnErrorHandleAsync="OnErrorHandleAsync"
        UseTabSet="true" TabDefaultUrl="/Admin/Index" OnUpdateAsync="OnUpdateAsync">
    <Header>
        <span class="ms-3 flex-fill">MES</span>
        <Logout ImageUrl="@Icon" DisplayName="@Context.DisplayName" UserName="@UserName">
            <LinkTemplate>
                <a href="/Admin/Profiles"><i class="fa fa-suitcase"></i>个人中心</a>
                <LogoutLink />
            </LinkTemplate>
        </Logout>
        <div class="layout-drawer"><i class="fa fa-gears"></i></div>
    </Header>
    <Side>
        <div class="layout-banner">
            <img class="layout-logo" src="/images/brand.png" />
            <div class="layout-title">
                <span>@Title</span>
            </div>
        </div>
    </Side>
    <Main>
        @Body
    </Main>
    <Footer>
        <div class="flex-fill text-center text-dark">@Footer</div>
    </Footer>
    <NotAuthorized>
        <Redirect />
    </NotAuthorized>
</Layout>

@if (Lock)
{
    <AutoRedirect LogoutUrl="/Account/Logout" Interval="@LockInterval"></AutoRedirect>
}
